name: aria2

on:
  push:
    paths:
    - 'aria2/Dockerfile'
    - 'aria2/root/**'
  workflow_dispatch:

env:
  ARIA2_VER: 1.36.0
  AriaNg_VER: 1.3.0

jobs:
  job1:
    name: buildx tag
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up QEMU
        id: qemu
        uses: docker/setup-qemu-action@v2
        with:
          platforms: all

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v2
        with:
          version: latest

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Login to GHCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: ./aria2
          file: ./aria2/Dockerfile
          platforms: linux/amd64,linux/arm64,linux/arm/v7
          push: true
          tags: |
            johngong/aria2:${{ env.ARIA2_VER }}-${{ env.AriaNg_VER }}
            johngong/aria2:latest
            ghcr.io/gshang2017/aria2:${{ env.ARIA2_VER }}-${{ env.AriaNg_VER }}
            ghcr.io/gshang2017/aria2:latest

      - name: Docker Hub Description
        uses: peter-evans/dockerhub-description@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: johngong/aria2
          short-description: Aria2:${{ env.ARIA2_VER }},AriaNg:${{ env.AriaNg_VER }},集成Trackers更新。
          readme-filepath: ./aria2/README.md
